<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kalevko_10po2.lab45" >

    <uses-permission android:name="android.permission.READ_SMS" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".StartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".ShaderPreferencesActivity"
            android:label="@string/title_activity_shader_preferences"
            android:parentActivityName=".StartActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kalevko_10po2.lab45.StartActivity" />
        </activity>
        <activity
            android:name=".JSONActivity"
            android:label="@string/title_activity_json"
            android:parentActivityName=".StartActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kalevko_10po2.lab45.StartActivity" />
        </activity>
        <activity
            android:name=".CSVActivity"
            android:label="@string/title_activity_csv"
            android:parentActivityName=".StartActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kalevko_10po2.lab45.StartActivity" />
        </activity>
        <activity
            android:name=".PlanActivity"
            android:label="@string/title_activity_plan"
            android:parentActivityName=".StartActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kalevko_10po2.lab45.StartActivity" />
        </activity>
        <activity
            android:name=".data.TeachersListActivity"
            android:label="@string/title_activity_teachers"
            android:parentActivityName=".PlanActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kalevko_10po2.lab45.PosterActivity" />
        </activity>
        <activity
            android:name=".data.SubjectsListActivity"
            android:label="@string/title_activity_subjects"
            android:parentActivityName=".PlanActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kalevko_10po2.lab45.PosterActivity" />
        </activity>
        <activity
            android:name=".data.PlanItemsActivity"
            android:label="@string/title_activity_plan_items"
            android:parentActivityName=".data.TeachersListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kalevko_10po2.lab45.data.ItemsListActivity" />
        </activity>

        <provider
            android:name=".data.PlanContentProvider"
            android:authorities="kalevko_10po2.contentprovider" >
        </provider>

        <activity
            android:name=".data.SettingsContentProviderActivity"
            android:label="@string/title_activity_telephony_sms"
            android:parentActivityName=".StartActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kalevko_10po2.lab45.StartActivity" />
        </activity>
    </application>

</manifest>
